<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homework for seminar 11</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <header class="top__container">
      <div class="head__navbar">
        <div class="logo">
          <a href="#">
            <img src="/static/img/header_navbar_logo.svg" alt="navbar logo" />
          </a>
          <button><img src="/static/img/search_img.svg" alt="search" /></button>
        </div>
        <div class="head__buttons">
          <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
              <span></span>
            </label>
          </div>
          <button>
            <img src="/static/img/profile_img_for_menu.svg" alt="profile" />
          </button>
          <button><img src="/static/img/cart_img_for _menu.svg" alt="cart" /></button>
        </div>
      </div>
      <div class="head__title">
        <img class="image" src="/static/img/man_photo.svg" alt="title_photo" />
        <div class="right__side__head">
          <div class="rectangle"></div>
          <div class="text">
            <p>THE BRAND</p>
            <p>
              <span class="h2">
                OF LUXERIOUS <span class="h2pink">FASHION</span></span
              >
            </p>
          </div>
        </div>
      </div>
    </header>
    <main class="container">
      <div class="top__cards">
        <div class="top__card">
          <img src="/static/img/for_women_img.svg" alt="woman" />
          <div class="centered">
            <h3>30% OFF</h3>
            <h2>FOR WOMEN</h2>
          </div>
        </div>
        <div class="top__card">
          <img src="/static/img/for_men_img.svg" alt="man" />
          <div class="centered">
            <h3>HOT DEAL</h3>
            <h2>FOR MEN</h2>
          </div>
        </div>
        <div class="top__card">
          <img src="/static/img/for_kids_img.svg" alt="child" />
          <div class="centered">
            <h3>NEW ARRIVALS</h3>
            <h2>FOR KIDS</h2>
          </div>
        </div>
        <div class="top__card top__card__big">
          <img src="/static/img/accesories_img.svg" alt="/static/img/accesorie" />
          <div class="centered">
            <h3>LUXIROUS & TRENDY</h3>
            <h2>ACCESORIES</h2>
          </div>
        </div>
      </div>
      <div class="products">
        <div class="main__title">
          <h3>Fetured Items</h3>
          <p>Shop for items based on what we featured in this week</p>
        </div>
        <div class="all__cards">
          <div class="product__card">
            <div class="prod__image_cont">
              <img
                class="product__image"
                src="/static/img/item_01.svg"
                alt="man_with_bag"
              />
              <button class="btn">
                <img src="/static/img/cart.svg" alt="cart" />
                Add to Cart
              </button>
            </div>
            <div class="card__text">
              <h3>ELLERY X M'O CAPSULE</h3>
              <p>
                Known for her sculptural takes on traditional tailoring,
                Australian arbiter of cool Kym Ellery teams up with Moda
                Operandi.
              </p>
              <h4>$52.00</h4>
            </div>
          </div>
          <div class="product__card">
            <div class="prod__image_cont">
              <img src="/static/img/item_02.svg" alt="woman" />
              <button class="btn">
                <img src="/static/img/cart.svg" alt="cart" />
                Add to Cart
              </button>
            </div>
            <div class="card__text">
              <h3>ELLERY X M'O CAPSULE</h3>
              <p>
                Known for her sculptural takes on traditional tailoring,
                Australian arbiter of cool Kym Ellery teams up with Moda
                Operandi.
              </p>
              <h4>$52.00</h4>
            </div>
          </div>
          <div class="product__card">
            <div class="prod__image_cont">
              <img src="/static/img/item_03.svg" alt="man_with_hat" />
              <button class="btn">
                <img src="/static/img/cart.svg" alt="cart" />
                Add to Cart
              </button>
            </div>
            <div class="card__text">
              <h3>ELLERY X M'O CAPSULE</h3>
              <p>
                Known for her sculptural takes on traditional tailoring,
                Australian arbiter of cool Kym Ellery teams up with Moda
                Operandi.
              </p>
              <h4>$52.00</h4>
            </div>
          </div>
          <div class="product__card">
            <div class="prod__image_cont">
              <img src="/static/img/item_04.svg" alt="man_t_shirt" />
              <button class="btn">
                <img src="/static/img/cart.svg" alt="cart" />
                Add to Cart
              </button>
            </div>
            <div class="card__text">
              <h3>ELLERY X M'O CAPSULE</h3>
              <p>
                Known for her sculptural takes on traditional tailoring,
                Australian arbiter of cool Kym Ellery teams up with Moda
                Operandi.
              </p>
              <h4>$52.00</h4>
            </div>
          </div>
          <div class="product__card">
            <div class="prod__image_cont">
              <img src="/static/img/item_05.svg" alt="woman_with_jacket" />
              <button class="btn">
                <img src="/static/img/cart.svg" alt="cart" />
                Add to Cart
              </button>
            </div>
            <div class="card__text">
              <h3>ELLERY X M'O CAPSULE</h3>
              <p>
                Known for her sculptural takes on traditional tailoring,
                Australian arbiter of cool Kym Ellery teams up with Moda
                Operandi.
              </p>
              <h4>$52.00</h4>
            </div>
          </div>
          <div class="product__card">
            <div class="prod__image_cont">
              <img src="/static/img/item_06.svg" alt="woman" />
              <button class="btn">
                <img src="/static/img/cart.svg" alt="cart" />
                Add to Cart
              </button>
            </div>
            <div class="card__text">
              <h3>ELLERY X M'O CAPSULE</h3>
              <p>
                Known for her sculptural takes on traditional tailoring,
                Australian arbiter of cool Kym Ellery teams up with Moda
                Operandi.
              </p>
              <h4>$52.00</h4>
            </div>
          </div>
        </div>
        <div class="all__prod__button">
          <button>Browse All Product</button>
        </div>
      </div>
    </main>
  </body>
</html>
